*{
	margin: 0px;
	padding: 0px;
}

header{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1000px;
	height: 150px;
    background-color: #de5b7b;
    color: white;
}
nav{
	position: absolute;
	top: 150px;
	left: 0px;
	width: 1000px;
	height: 50px;
	background-color: #eccfd1;
}
section{
	position: absolute;
	top: 200px;
	left: 0px;
	width: 700px;
	height: 500px;
	background-color: #f0e3c4;
}
article{
	margin: 20px;
	padding: 10px;
	border: 1px black dashed;
	background-color: white;
}
aside{
	position: absolute;
	top: 200px;
	left: 700px;
	width: 300px;
	height: 500px;
	background-color: #98ded3;
}
aside p{
	color: #FFFFFF;
}
footer{
	position: absolute;
	top: 600px;
	left: 0px;
	width: 1000px;
	height: 100px;
	background-color: #eccfd1;
}
h3{
	color: #de5b7b;
}
aside p{
	margin-left: 10px;
}